# Dependencias
node_modules/
frontend/node_modules/

# Archivos de entorno
.env

# Build del frontend (si lo compilas antes de subir)
frontend/build/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
